<h3>User manipulation buttons</h3>


<div>
  <label> Username :
    <input [(ngModel)]="username" placeholder="username"/>
  </label>
</div>
<div>
  <label> Password :
    <input [(ngModel)]="password" placeholder="password"/>
  </label>
</div>
<button (click)="login();">Log me in</button>

<h5>Important data buttons </h5>

<div>
  <table>
    <thead>
    <tr>
      <td>Button</td>
      <td>Result</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <button (click)="getNoAuthData();">Get data (no auth)</button>
      </td>
      <td>{{noAuthDate}}</td>
    </tr>

    <tr>
      <td>
        <button (click)="getUserAuthDate();">Get data (user auth)</button>
      </td>
      <td>{{userAuthDate}}</td>
    </tr>

    <tr>
      <td>
        <button (click)="getAdminAuthDate();">Get data (admin auth)</button>
      </td>
      <td>{{adminAuthDate}}</td>
    </tr>

    <tr>
      <td>
        <button (click)="getUserOrAdminAuthDate();">Get data (admin/user auth)</button>
      </td>
      <td>{{userOrAdminAuthDate}}</td>
    </tr>
    </tbody>
  </table>
</div>







