<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>request_id</includeMdcKeyName>
            <includeMdcKeyName>request_timestamp</includeMdcKeyName>
            <includeMdcKeyName>src_ip</includeMdcKeyName>
            <includeMdcKeyName>object</includeMdcKeyName>
            <includeMdcKeyName>reason</includeMdcKeyName>
            <includeMdcKeyName>type</includeMdcKeyName>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="com.zaxxer.hikari" level="info"/>-->
<!--    <logger name="org.eclipse.jetty" level="info"/>-->
<!--    <logger name="org.jooq" level="info"/>-->
<!--    <logger name="org.apache.kafka" level="info"/>-->

    <if condition='property("DEBUG_LOG").contains("true")'>
        <then>
            <root level="debug">
                <if condition='property("JSON_LOG").contains("true")'>
                    <then>
                        <appender-ref ref="JSON"/>
                    </then>
                    <else>
                        <appender-ref ref="STDOUT"/>
                    </else>
                </if>
            </root>
        </then>
        <else>
            <root level="info">
                <if condition='property("JSON_LOG").contains("true")'>
                    <then>
                        <appender-ref ref="JSON"/>
                    </then>
                    <else>
                        <appender-ref ref="STDOUT"/>
                    </else>
                </if>
            </root>
        </else>
    </if>
</configuration>
